<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>New Pet</title>
</head>
<body>
    <h1>Add a Pet</h1>
    <form action="http://127.0.0.1:5000/pets/new" method="POST">
        <h2>Name <input type="text" name="name" /></h2> 
        <h2>Fact</h2>
        <textarea name="fact" id="fact" cols="30" rows="5"></textarea>
        <p><input type="submit" value="submit" /></p>
        <a href="http://127.0.0.1:5000/pets">Go back</a>
    </form>
</body>
</html>